<div style="text-align: center">
    <h1>계산기</h1>
    <br>
    <h5>계산할 두 수를 입력한 후 연산자를 선택해주세요.</h5>
    <br>
    <form action="result">
        <input type = "text" name="operand1">
        <select name="operator">
            <option value="addition">+</option>
            <option value="subtraction">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
        </select>
        <input type="text" name="operand2">
        <input type="submit" value="계산">
    </form>
</div>